@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  21% {
    opacity: 1;
  }
}

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

blockquote {
  margin: 0;
  color: #fff;
  font-size: 1.5rem;
}

figure {
  padding: 1.5%;
  background-color: #0d151e;
  border-radius: 5px;
  border: 0.5px solid #2d4557;
  animation: 21s infinite fadeIn;
  max-width: 75%;
  left: 5vw;
}

html {
  background-color: #15202b;
  font-family: Helvetica, Arial, sans-serif;
}

figcaption {
  color: #748797;
  font-size: 1.25rem;
}

a {
  color: #f7931a;
  font-size: 1rem;
}

a:hover {
  color: #e87f00;
}

i {
  color: #f7931a;
  font-size: 8rem;
}

span {
  display: flex;
  justify-content: center;
}

span a {
  font-size: 0.75rem;
}

#copy {
  text-align: right;
  font-size: 1rem;
  color: #2d4557;
  cursor: copy;
  margin: 0.5rem;
}

#url {
  max-width: 75vw;
  overflow: auto;
}

#right {
  display: flex;
  justify-content: flex-end;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #192734;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2d4557 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 770px) {
  .hero {
    width: 95vw;
    height: 95vh;
  }
}
